
<!-- Google Maps -->
<input id="pac-input" class="controls" type="text" placeholder="Location">
<div id="div-radius">
  <div class="iradio checked radius-div">
    <span>Search Radius:</span>
    <input class="radius-input" type="radio" name="radius-radio" id="one-mile" checked>
    <label for="one-mile">1 mile</label>
    <input class="radius-input" type="radio" name="radius-radio" id="three-mile" >
    <label for="three-mile">3 miles</label>
    <input class="radius-input" type="radio" name="radius-radio" id="five-mile" >
    <label for="five-mile">5 miles</label>
    <input class="radius-input" type="radio" name="radius-radio" id="ten-mile" >
    <label for="ten-mile">10 miles</label>
  </div>
</div>
<div id="map-canvas"></div>
