#map-canvas {
    margin-top: 0px;
    height: calc(100% - 52px);
    width: calc(100% - 465px);
	border-right: 1px solid #ccc;
}

#locate-me-btn {
	cursor: pointer;
	height: 50px;
	width: 50px;
}

.radius-div {
  background-color: rgba(255, 255, 255, 0.8)
  top: 65px;
  left: 5px;
  position: absolute;
  z-index: 1000;
  border-radius: 5px;
}

.iradio label {
  padding-right: 10px;
}

.iradio span {
  padding-right: 10px;
  padding-left: 10px;
}
